<ion-view title="Target Info" id="page9">
    <ion-content padding="true" class="has-header">
        <h1 id="targetInfo-heading3" style="color:#000000;">Target 1</h1>
        <div class="list card" id="targetInfo-card24"></div>
        <div id="targetInfo-markdown4" style="color:#000000;">
            <p>Battery:
                <strong>96%</strong>
            </p>
        </div>
        <div id="targetInfo-markdown5" style="color:#000000;">
            <p>Radios:
                <strong>Online</strong>
            </p>
        </div>
        <div id="targetInfo-markdown6" style="color:#000000;">
            <p>Electromagnet:
                <strong>No issues reported</strong>
            </p>
        </div>
    </ion-content>
</ion-view>